.page-title {
    font-family: 'Salsa', cursive;
}
.header {
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.user-greeting {
    font-size: 18px;
    color: black;
    font-family: 'Salsa', cursive;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
}

.feature-container {
    border: 1px black solid;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #18477C;
    color: white;
    font-family: 'Salsa', cursive;
    cursor: pointer;
}

